@import "use";
// werer
/*中文*/
body{
    color:$baseColor;
    color:$fs;
}
h1{color:blue;font-size:18px;border:1px solid #ccc;}
li{width:200px;background-color:green;margin-right:10px;}
.wrap{
    width:400px;
    height:600px;
    background-color:#888;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
    @include flexbox;
    @include align_center;
    @include pack_center;
}
ul>li{width:100px;height:100px;}
ul>li:nth-child(2){@include flexbox_flex;}